.hero-section {
  display: flex;
  height: 100vh;
}

.hero-section-container {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.hero-section-text {
  display: flex;
  /* position: absolute; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.hero-section-text h1 {
  font-size: 4rem;
  color: #caf0f8;
  font-weight: 900;
  margin: 0;
}

.hero-section-text p {
  padding-right: 2rem;
  color: #caf0f8;
  font-weight: 500;
  margin: 0;
  text-align: justify;
  white-space: wrap;
}
.lets-get-started-btn {
  margin-top: 20px;
}
.hero-section-img {
  display: flex;
  flex-direction: column;
  /* position: absolute; */

  /* width: 50%; */
  height: 100%;
}
.hero-section-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 768px) {
  .hero-section-container {
    flex-direction: column;
  }
  .hero-section-text {
    width: 100%;
  }
  .hero-section-text h1 {
    font-size: 3rem;
  }
  .hero-section-text p {
    padding: 0 10px;
  }
  .hero-section-img {
    width: 100%;
  }
}
