.cardWrap {
  width: 27em;
  margin: 3em auto;
  color: #fff;
}

.card {
  background: linear-gradient(
    to bottom,
    #00b4d8 0%,
    #00b4d8 26%,
    #caf0f8 26%,
    #caf0f8 100%
  );
  height: 11em;
  float: left;
  position: relative;
  padding: 1em;
  margin-top: 100px;
}

.cardLeft {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 16em;
  margin-top: 0;
}

.cardRight {
  margin-top: 0;
  width: 6.5em;
  border-left: 0.18em dashed #161b33;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.cardRight:before,
.cardRight:after {
  content: "";
  position: absolute;
  display: block;
  width: 0.9em;
  height: 0.9em;
  background: #161b33;
  border-radius: 50%;
  left: -0.5em;
}
.cardRight:before {
  top: -0.4em;
}
.cardRight:after {
  bottom: -0.4em;
}

.card h1 {
  font-size: 1.1rem;
  margin-top: 0;
}
.card h1 span {
  font-weight: normal;
}

.title,
.name,
.seat,
.time {
  text-transform: uppercase;
  font-weight: normal;
}
.title h2,
.name h2,
.seat h2,
.time h2 {
  font-size: 0.7em;
  color: #161b33;
  margin: 0;
}
.title span,
.name span,
.seat span,
.time span {
  font-size: 0.7em;
  color: #0077b6;
}

.title {
  margin: 2em 0 0 0;
}

.name,
.seat {
  margin: 0.7em 0 0 0;
}

.time {
  margin: 0.7em 0 0 1em;
}

.seat,
.time {
  float: left;
}

.dollar {
  position: relative;
  text-align: center;
  width: 100%;
  font-size: 1.5em;
  z-index: 1;
}

.number {
  text-align: center;
  text-transform: uppercase;
}
.number h3 {
  color: #161b33;
  margin: 0.9em 0 0 0;
  font-size: 2.5em;
}
.number span {
  display: block;
  color: #161b33;
}
