@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.navbar {
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em 2em;
  background-color: #161b33;
  z-index: 20;
}
.logo {
  display: flex;
  position: absolute;
  left: 2em;
  margin-left: auto;
}

.logo h1 {
  font-family: "Pacifico", cursive;
  font-size: 2.5em;
  font-weight: 700;
  color: #90e0ef;
  margin-bottom: 0;
  margin-top: 0;
}

.navlinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  margin-top: 1em;
}
.navlinks a {
  font-size: 1.2em;
  font-weight: 500;
  color: #90e0ef;
  text-decoration: none;
  transition: color 0.25s;
  cursor: pointer;
}
.register-login-btns {
  display: flex;
  position: absolute;
  right: 6em;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}
.register-login-btns a {
  font-size: 1.2em;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.25s;
  cursor: pointer;
}
#login-btn {
  background-color: #00b4d8;
  color: #161b33;
  padding: 0.6em 1.2em;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
#register-btn {
  color: #00b4d8;
  padding: 0.6em 1.2em;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

#login-btn:hover {
  background-color: #161b33;
  color: #00b4d8;
  border-color: #00b4d8;
  transition: background-color 0.8s;
}
#register-btn:hover {
  background-color: #00b4d8;
  color: #161b33;
  border-color: #00b4d8;
  transition: background-color 0.8s;
}
