.filter-list {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  align-items: center;
  /* margin: 0 0 20px 0; */
  /* height: 200px; */
  width: 100%;
}
.filter-heading {
  display: flex;
  /* align-items: flex-start;
  justify-content: flex-start; */
  width: 100%;
}
.filter-heading p {
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}
.filter-list-options {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-start;
  width: inherit;
  height: auto;
  max-height: 120px;
  overflow-y: scroll;
  border-bottom: 1px solid #161b3343;
}

.filter-list-option {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00b4d869;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
}
