.user-profile-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 20px;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.user-details-1,
.user-details-2,
.user-payment-details {
  display: flex;
  padding: 0.5rem;
  border-bottom: 1px solid #caf0f8;
  width: 80%;
  justify-content: space-between;
}

.user-details-2 {
  flex-wrap: wrap;
}
.user-name,
.user-email,
.user-username,
.user-phone,
.country,
.user-address,
.user-bio,
.card-details {
  font-size: 1.3rem;
  font-weight: 500;
  color: #caf0f8;
}
.user-input {
  border: none;
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}

.edit-icon {
  color: #caf0f8;
  cursor: pointer;
  transition: all 0.3s ease;
}
.save-details {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  flex-direction: row;
  margin: 1rem 0;
  padding: 0.5em;
  border-bottom: 1px solid #caf0f8;
  transition: height 0.6s forwards;
}
.user-payment-details {
  flex-direction: column;
}
.payments-container {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 20px;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.card-details-form {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  width: 50%;
  /* height: 100%; */
  /* padding: 20px; */
  transition: all 0.6s;
}
.form-group {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  /* width: 100%; */
}
.card-details-form input {
  width: 90%;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: none;
  border-bottom: 1px solid #caf0f8;
  background-color: transparent;
  color: #caf0f8;
  font-size: 1.3rem;
  font-weight: 500;
}

.card-details p:nth-child(1) {
  margin-top: 0;
}
